body{
    background-image: url(ravages/The\ Ravages\ of\ Time\ -\ Vol.52\ Ch.416\ -\ The\ Landing\ of\ The\ Sun\ Army\ -\ 11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

*{
    margin: 0px;
    margin-top: 0px;
}
h1{
    
    color: white;
    font-size: 3em;
    padding: 20px;
    text-align: center;
    background-color: rgb(37, 37, 37,  0.918);
    border-bottom: 10px solid rgb(11, 11, 11);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.fa-sharp.fa-solid.fa-arrow-left.fa-xs{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

.image{
    text-align: center;
    width:50%;
    display: block;
    margin: auto;
    background-color: rgba(37, 37, 37, 0.918);
    border: solid black;
    margin-top: 20px;
    padding: 10px;
}
.image:hover{
    background-color: rgb(255, 38, 38, 0.918);
}